# Development files
.devcontainer/
.vscode/
.github/
src/
.claude/

# Config / tooling
biome.json
tsconfig.json
.node-version
.gitignore
.tagpr
renovate.json5

# Misc
**/*.map
**/.DS_Store
**/Thumbs.db
